.container {
    display: flex;
    margin: 1%;
    width: 50%;
    margin-top: 10px;
    margin-left: 40%;
    color: white;
    background-color: gray;
    padding: 25px;
    border-radius: 10px;
}

.container input {
    border-radius: 5px;
    height: 20px;
}

.container button {
    border-radius: 5px;
    height: 20px;
    background-color: bisque;
    color: black;
}